body {
	background: rgb(26, 26, 26);
	color: white;
}

hr {
    background-image: -webkit-linear-gradient(left, rgba(200,200,200,0), rgba(200,200,200,0.75), rgba(200,200,200,0)); 
}

a {
	color: white;
}

a:visited {
	color: white;
}

.figure-box{
	border: 1px solid #C8C7CC;
	background-color: #555555;
}