body {
	padding: 10px;
	font-family: -apple-system;
	font-size: 16px;
	font-weight: 300;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
    -webkit-user-drag: none;
}

img {
    -webkit-user-drag: none;
}

a {
    -webkit-user-drag: none;
}

h1 {
	font-family: -apple-system;
	font-weight: 700;
}

h2 {
	font-family: -apple-system;
	font-weight: 700;
}

h3 {
	font-family: -apple-system;
	font-weight: 700;
}

hr {
	width: 75%;
	border: 0;
    height: 1px;
}

li {
	margin-bottom: 10px;
}

ul {
	padding-left: 10px;
	list-style-position: inside;
}

ol {
	padding-left: 10px;
	list-style-position: inside;
}

img.retina {
    zoom: 0.5;
    display: inline;
    padding-left: 4px;
    padding-right: 4px;
}

.hidden {
	display: none;
}

.center {
	text-align: center;
}

.figure-box {
	width: 75%;
	padding: 10 20 10 20;
	margin: 5 auto 5 auto;
	text-align: center;
	border: 1px;
}

@media (-webkit-min-device-pixel-ratio: 1) {
	hr {
		width: 75%;
		border: 0;
		height: 0.5px;
	}
}
