body {
	background: rgba(247, 247, 247, 1);
}

hr {
    background-image: -webkit-linear-gradient(left, rgba(200,200,200,0), rgba(200,200,200,0.75), rgba(200,200,200,0)); 
}

a {
	color: #0dac5e;
}

a:visited {
	color: #0dac5e;
}